<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhaopin.mapper.IndustryMapper">

    <resultMap id="IndustryMapper" type="com.zhaopin.bean.Industry">
        <id property="industryId" column="industry_id" javaType="java.lang.Long"/>
        <result property="industryName" column="industry_name" />
    </resultMap>

    <select id="selectIndustry" parameterType="com.zhaopin.bean.Industry" resultMap="IndustryMapper">
        select * from industry
        <where>
            1=1
        </where>
    </select>

    <delete id="deleteIndustry" parameterType="com.zhaopin.bean.Industry">
        delete from industry
        where industry_name = #{industryName}
    </delete>

    <update id="updateIndustry" parameterType="com.zhaopin.bean.Industry">
        update industry
        set industry_name = #{industryName}
        WHERE industry_id = #{industryId}
    </update>

    <insert id="insertIndustry" parameterType="com.zhaopin.bean.Industry">
        insert into industry(industry_name)
        values (#{industryName})
    </insert>

</mapper>