<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhaopin.mapper.IndustryCategoryMapper">

    <resultMap id="IndustryCategoryMapper" type="com.zhaopin.bean.IndustryCategory">
        <id property="categoryId" column="category_id" javaType="java.lang.Long" jdbcType="BIGINT" />
        <result property="categoryName" column="category_name" />
        <result property="description" column="description" />
        <result property="industryId" column="industry_id" />
    </resultMap>

    <select id="selectIndustryCategory" parameterType="com.zhaopin.bean.IndustryCategory" resultMap="IndustryCategoryMapper">
        select * from industry_category
        where industry_id = #{industryId}
    </select>

    <delete id="deleteIndustryCategory" parameterType="com.zhaopin.bean.IndustryCategory">
        delete from industry_category
        where category_id = #{categoryId}
    </delete>

    <update id="updateIndustryCategory" parameterType="com.zhaopin.bean.IndustryCategory">
        update industry_category
        set category_name = #{categoryName},description=#{description}
        where category_id = #{categoryId}
    </update>

    <insert id="insertIndustryCategory" parameterType="com.zhaopin.bean.IndustryCategory">
        insert into industry_category(category_name,description,industry_id)
        values (#{categoryName},#{description},#{industryId})
    </insert>

</mapper>