<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhaopin.mapper.UserMapper">

    <resultMap id="UserMapper" type="com.zhaopin.bean.User">
        <id property="userId" column="user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
        <result property="mobile" column="mobile" />
        <result property="password" column="password" />
        <result property="userName" column="user_name" />
        <result property="gender" column="gender" />
        <result property="birth" column="birth" />
        <result property="nickname" column="nickname" />
        <result property="email" column="email" />
        <result property="province" column="province" />
        <result property="city" column="city" />
        <result property="eduDegree" column="edu_degree" />
        <result property="graduation" column="graduation" />
        <result property="graYear" column="gra_year" />
        <result property="major" column="major" />
        <result property="dirDesire" column="dir_desire" />
    </resultMap>

    <select id="login" resultType="com.zhaopin.bean.User" resultMap="UserMapper">
        select * from user where user_id = #{userId}
    </select>

    <select id="selectUser" parameterType="com.zhaopin.bean.User" resultMap="UserMapper">
        select user_id,mobile,user_name,gender,birth,nickname,
        email,province,city,edu_degree,graduation,gra_year,
        major,dir_desire from user
        <where>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="mobile !=null and mobile !=''">
                and mobile = #{mobile}
            </if>
            <if test="userName !=null and userName !=''">
                and user_name like concat('%', #{userName}, '%')
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
            <if test="birth !=null and birth !=''">
                and birth = #{birth}
            </if>
            <if test="nickname !=null and nickname !=''">
                and nickname like concat('%', #{nickname}, '%')
            </if>
            <if test="province !=null and province !=''">
                and province = #{province}
            </if>
            <if test="city !=null and city !=' '">
                and city = #{city}
            </if>
            <if test="eduDegree !=null and eduDegree !=' '">
                and edu_degree = #{eduDegree}
            </if>
            <if test="graduation !=null and graduation !=''">
                and graduation = #{graduation}
            </if>
            <if test="graYear !=null and graYear !=''">
                and gra_year = #{graYear}
            </if>
            <if test="major !=null and major !=''">
                and major = #{major}
            </if>
        </where>
    </select>

    <delete id="logoutUser" parameterType="com.zhaopin.bean.User">
        delete from user where mobile=#{mobile} and password = #{password}
    </delete>

    <delete id="deleteUser" parameterType="com.zhaopin.bean.User">
        delete from user where mobile=#{mobile}
    </delete>

    <update id="updateUser" parameterType="com.zhaopin.bean.User">
        update user set password=#{password},user_name= #{userName},
        gender=#{gender},birth=#{birth},nickname=#{nickname},
        email=#{email},province=#{province},city=#{city},
        edu_degree=#{eduDegree},graduation=#{graduation},
        gra_year=#{graYear},major=#{major},dir_desire=#{dirDesire}
        WHERE mobile = #{mobile}
    </update>

    <insert id="insertUser" parameterType="com.zhaopin.bean.User">
        insert into user(user_id,mobile,password,nickname)
        values (#{userId},#{mobile},#{password},#{nickname})
    </insert>

</mapper>